{%   extends 'partials/base.html' %}

{% block title %}Homepage{% endblock %}

{% block content  %}

<div class="container">
{% for f in  films %}

    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">{{ f.title  }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Director: 
            {% for d in f.directors.all %}{{ d.last_name }} {%  endfor %}</h6>
        <p class="card-text">Release date: {{ f.release_date  }}</p>
        <p class="card-text">Category: {% for c in f.categories.all %}{{ c.name }} {%  endfor %}</p>
        <p class="card-text">Country: {{ f.created_in_country  }}</p>
        <a href="#" class="btn btn-primary">Modify film</a>
        </div>
    </div>

{%  endfor %}
</div>

{% endblock  %}