{%   extends 'partials/base.html' %}
{% load static  %}
{% load ratings %}

{% block title %}Homepage{% endblock %}

{% block content  %}

<div class="container">
{% for f in  films %}

    <div class="card">
        <a href = "{% url 'film' f.id  %}">
        {% if f.url %}
            <img src="{{ f.url  }}" class="card-img-top" alt="{{ f.title  }}">
        {% endif %}
        </a>
        <div class="card-body">
            <h5 class="card-title">{{ f.title  }}</h5>
            <p class="card-text">Director: 
                {% for d in f.director.all %}
                <a href = "{% url 'director' d.id  %}" class = "smbut">{{ d.first_name }} {{ d.last_name }}</a> 
                {%  endfor %}
            </p>
            <div>
                {% for c in f.category.all %}
                <a href = "{% url 'category' c.id  %}"" class="smbut btn btn-sm">{{c.name}}</a>
                {%  endfor %}
            </div>
        </div>
        <ul>
            <li class="card-text">Origin: {{ f.created_in_country }}</li>
            <li class="card-text">Release date: {{ f.release_date }}</li>
        </ul>
        {% ratings f %}
        <div class="card-bot">
            <a href="{% url 'updatefilm' f.id  %}" class="btn btn-primary btn-sm">Edit</a>
            {% if user.is_staff %}
                <a href="{% url 'deletefilm' f.id  %}" class="btn btn-danger btn-sm">Delete</a>
            {% endif  %}
        </div>    
    </div>

{%  endfor %}
</div>

{% endblock  %}